@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url("./fonts/StarJediHollow.woff2");
    font-family: 'Star Jedi Hollow';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
      
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background:url(/fondo/fondo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffffd7;
    text-align: center;
}
  
a {
    text-decoration: none;
}

a:visited {
    color: rgb(41, 116, 213);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
  }

.jediL {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.sithL {
    color: rgb(255, 0, 0);text-decoration: none;
}

.sides-of-the-force {
    display: flex;
}
  
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.main-title h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.main-title h2{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    font-size: 20px;
}
  
.container {
    width: 100vw;
    height: 75vh;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 25px;
}
  
.saber {
    width: 12px;
    background-color: silver;
    height: 8vh;
    border-radius: 0 0 100vw 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
  
.light {
    width: 12px;
    bottom: 45vh;
    background-color: #fff;
    border-radius: 100vh 100vh 0 0;
}
  
.jedi {
    box-shadow: 0px 0px 25px 0px #00e1ff, 0px 0px 25px 3px #15dafd,
      inset 0px 0px 7px 0px #0aefff;
    }

.sith {
    box-shadow: 0px 0px 25px 0px #ff0d0d, 0px 0px 25px 3px #f80707,
      inset 0px 0px 7px 0px #e81010;
    }
  
.saber-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.saber-btn {
    background-color: rgb(107, 0, 0);
    border: none;
    height: 10px;
    border-radius: 100vh;
    width: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
  
.saber-section-1 {
    height: 1vh;
    background-color: #000;
    width: 100%;
}
  
.saber-section-2 {
    height: 1vh;
    background-color: #000;
    margin-top: 12px;
    width: 100%;
}
  
.saber-section-3 {
    display: flex;
    height: 1vh;
    background-color: #000;
    margin-top: 11px;
    border-radius: 0 0 100vw 100vw;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.golden-detail {
    width: 3px;
    height: 3px;
    border-radius: 100vw;
    background-color: #887300;
}

.open-lightsaber {
    height: 30vh;
    animation-duration: 1s;
    animation: open-lightsaber-animation 1s;
}
  
.close-lightsaber {
    height: 0;
    animation-duration: 1s;
    animation: close-lightsaber-animation 1s;
}

.line {
    width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

  
@keyframes close-lightsaber-animation {
    0% {
        height: 30vh;
    }
    100% {
        height: 0;
    }
}